@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    --tap-highlight-color: transparent !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: Inter,-apple-system , BlinkMacSystemFont;
}